@charset "utf-8";
/* CSS Document */

*{margin: 0px;
padding: 0px;}

header{
	height: 110px;
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#111068;
}